
h1{
  font: 24px "Comic Sans MS";
}


body {
    border: 20px solid white;
    color: white;
    padding: 13.3%;
    font: 16px "Comic Sans MS";
    background: #40E0D0;
    text-align: center
}

a {
  color: #ffdc64;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}
