
h1{
  font: 24px "Comic Sans MS";
}


body {
    border: 20px solid white;
    color: white;
    padding: 13.3%;
    font: 16px "Comic Sans MS";
    background: #40E0D0;
    text-align: center
}

a {
  color: #ffdc64;
}

